body{
    margin: 0;
}
/* banner部分 */

.banner{
    width: 100vw;
    height: 100vh;
    background:url(../images/banner.1.png) no-repeat 0 0 fixed;
    background-size:cover;
    position: fixed;
    left: 0;
    top: 0;
    float: left;
}
.scene1{
    width: 50vw;
    height: 100vh;
    float: left;
    perspective:1000px;
    transform-style: preserve-3d;
}
.banner_left{
    width: 50vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    /* float: left; */
    transform-origin: left;
    transition:all 1s;
    transform:rotateY(45deg);
}
.banner_right{
    width: 50vw;
    height: 100vh;
    /* background: #cccccc; */
    float: left;
}
.banner_left_content{
    width: 603px;
    height: 100vh;
    /* background: yellow; */
    float: right;

}
.logo{
    width: 375px;
    height: 149px;
    /* background: purple; */
    margin-top: 130px;
    float: left;
}
.logo_image{
    width: 107px;
    height: 52px;
    background: url(../images/logo.png) 0 0/cover;
}
.wenzi{
    width: 357px;
    height: 10px;
    margin-top: 65px;
    /* color: white; */
    background: url(../images/welcome.png) ;
    /* background: seagreen; */
}
.nav{
    width: 67px;
    height: calc(100vh - 250px);
    /* background: red; */
    float: right;
    margin-right: 53px;
    margin-top: 130px;
    display: flex;     /*把当前容器变为弹性容器*/
    flex-wrap: wrap;   /* 内容超出一行自动换行*/
    align-content: space-between;   /*垂直方向上内容的分布方式*/

}
.nav_item{
    width: 67px;
    height: 16px;
    font-size: 16px;
    color: white;
    line-height: 16px;
}
.nav_item:hover{
    transform:scale(1.5,1.5);
}
.banner_right_content{
    width: 603px;
    height: 100vh;
    /* background: url(); */
    padding-top: 148px;
    box-sizing: border-box;
    /* background: red; */
    perspective: 1000px;
    transform-style: preserve-3d;

}
.banner_imge1{
    width: 562PX;
    height: 180px;
    background:url(../images/banner_text.png);
    margin-left: 60px;
    transform-origin:right ;
    transform: rotateY(45deg);
}
.banner_line{
    width: 68px;
    height: 5px;
    background: #fff;
    margin-left: 60px;
    margin-top: 55px;
}
.banner_imge2{
    width: 267px;
    height: 34px;
    background: url(../images/banner_technology.png);
    margin-left: 60px;
    margin-top: 45px;
}
.banner_imge3{
    width:402px;
    height: 71px;
    background: url(../images/noah_possible.png);
    margin-left: 60px;
    margin-top: 45px;

}
.banner_imge4{
    width: 142px;
    height: 44px;
    background: url(../images/since.png);
    margin-left: 410px;
    margin-top: 68px;
}
/* 内容1 */

.content{
    width:100vw;
    height:40px;
    background:rgba(60,106,198,1);
    opacity:0.9;
    /* margin-top: 5px; */
    /* float: left; */
    position: absolute;
    margin: 0 auto;
    top: 200vh;
}
.part1{
    width:327px;
    height:40px;
    background:rgba(8,48,128,1);
    opacity:0.8;
    margin-left: 300px;
    float: left;
    position: relative;
    z-index: 10;
}
.zi_1{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    margin-left: 217px;
}
    
.part2{
    width:327px;
    height:40px;
    opacity:0.8;
    margin-right: 300px;
    float: right;
    position: relative;
    z-index: 10;
}
.zi_2{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    margin-left: 5px;
}
.part3{
    width:500px;
    height:40px;
    background:rgba(8,48,128,1);
    opacity:0.8;
    margin: 0 auto;
    float: left;
    position: absolute;
    margin-left: 500px;
}
.part4{
    width:500px;
    height:40px;
    background:rgba(8,48,128,1);
    opacity:0.8;
    /* margin: 0 auto; */
    margin-right: 300px;
    float: right;
    margin-left: 800px;
    position: absolute;
    /* position: absolute; */
}
.know{
    width: 1200px;
    height: 800px;
    /* background: #cccccc; */
    margin: 0 auto;
    position: relative;
    margin: 0 auto;
    top: 200vh;

}
.know_left{
    width: 197px;
    height: 800px;
    margin-top: 84px;
    margin-left: 160px;
    /* background: burlywood; */
    float: left;
}
.know_left1{
    height:226.5px;
    width:344.5px;
    background: url(../images/图层\ 3.png) 0 0/cover;
    margin-top: 84px;
    /* margin-right: 0 auto; */
}
.know_left1:hover{
    transform:scale(1.25,1.25);
}
.know_left2{
    height:220px;
    width:330px;
    background: url(../images/图层\ 4.png) 0 0/cover;
    margin-top: 45px;
    margin-left: 3px;
}
.know_left2:hover{
    transform:scale(1.25,1.25);
}
.know_right{
    width: 600px;
    height:822px;
    /* background: greenyellow; */
    margin-top: 67px;
    margin-left: 200px;
    float: left;

}
.know_right1{
    width: 201px;
    height: 33px;
    background:url(../images/Number\ 1.png) 0 0/cover;
    margin-top: 0 auto;
    float: right;
    /* transform: rotateY(45deg);
    transition:all 10s linear; */
}

.know_right2{
    width: 120px;
    height: 24.5px;
    /* background: red; */
    margin-left: 490px;
    margin-top: 60px;
    font-size:22px;
    font-family:SimSun;
    font-weight:400;
    font-style:italic;
    color:rgba(109,102,102,1);
    line-height:25px;
}
.know_right3{
    width: 460px;
    height: 175px;
    margin-top: 60px;
    margin-left: 30px;
    font-size:16px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(109,102,102,1);
    line-height:30px;
}
.know_right3:hover{
    font-weight: bold;
}
.know_right4{
    width: 474.5px;
    height: 175.5px;
    margin-left: 30px;
    font-size:16px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(109,102,102,1);
    line-height:30px;
    margin-top: 90px;
}
.know_right4:hover{
    font-weight: bold;
}

/* 内容2 */
.know2{
    width: 1200px;
    height: 906px;
    /* background: #ccc; */
    margin: 0 auto;
    position: relative;
    margin: 0 auto;
    top: 200vh;

}
.know2_zi1{
    width: 209.5px;
    height: 32.5px;
    background:url(../images/Number\ 2.png )0 0/cover;
    /* margin-left: 20px; */
}
.know2_zi2{
    width: 120px;
    height: 24.5px;
    font-size:22px;
    font-family:SimSun;
    font-weight:400;
    font-style:italic;
    color:rgba(109,102,102,1);
    line-height:25px;
    /* background: red; */
    margin-top: 50px;
}
.know2_zi3_one{
    width: 565px;
    height: 269px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 11px 0px rgba(4,0,0,0.09);
    border-radius:3px;
    margin-top: 60px;
    float: left;
}
.know2_zi3_one:hover{
    transform:scale(1.05,1.05);
}
.yuan1{
    width: 230px;
    height: 221px;
    background: url(../images/组\ 12--1.png) 0 0/cover;
    margin-top: 24px;
    margin-left: 24px;
    float: left;
  
}
.yuan1_wenzi1{
    width: 132px;
    height: 74px;
    background: url(../images/产教融合.png) 0 0/cover;
    margin-top: 60px;
    margin-left: 49px;
    float: left;
}
.yuan1_wenzi2{
    width: 230px;
    height: 182px;
    /* background: antiquewhite; */
    float: left;
    margin-left: 40px;
    margin-top:60px ;
    font-size:12px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(57,52,52,1);
    line-height:25px;
}
.know2_zi3_two{
    width: 565px;
    height: 269px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 11px 0px rgba(4,0,0,0.09);
    border-radius:3px;
    margin-top: 60px;
    margin-left: 60px;
    float: left;
}
.know2_zi3_two:hover{
    transform:scale(1.05,1.05);
}
.yuan2{
    width: 230px;
    height: 221px;
    background: url(../images/组\ 12-1.png) 0 0/cover;
    margin-top: 24px;
    margin-left: 24px;
    float: left;
}
.yuan2_wenzi1{
    width: 132px;
    height: 74px;
    /* background: red; */
    margin-top: 60px;
    margin-left: 49px;
    float: left;
}
.two1{
    height: 24px;
    width: 42px;
    background: url(../images/02.png) 0 0/cover;
    margin: 0 auto;
}
.two2{
    height: 19px;
    width: 137px;
    background: url(../images/产教融合孵化区.png) 0 0/cover;
    margin: 0 auto;
    margin-top: 20px;

}
.two3{
    height: 30px;
    width: 126px;
    background: url(../images/pro.png)0 0/cover;
    margin: 0 auto;
    margin-top: 6px;
}
.yuan2_wenzi2{
    width: 230px;
    height: 182px;
    /* background: antiquewhite; */
    /* float: left; */
    margin-left: 273px;
    margin-top:36px ;
    font-size:12px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(57,52,52,1);
    line-height:25px;
}
.know2_zi3_three{
    width: 565px;
    height: 269px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 11px 0px rgba(4,0,0,0.09);
    border-radius:3px;
    margin-top: 60px;
    float: left;
}
.know2_zi3_three:hover{
    transform:scale(1.05,1.05);
}
.yuan3{
    width: 230px;
    height: 221px;
    background: url(../images/01.png) 0 0/cover;
    margin-top: 24px;
    margin-left: 24px;
    float: left;
}
.yuan3_wenzi2{
    width: 230px;
    height: 182px;
    /* background: antiquewhite; */
    float: left;
    margin-left: 40px;
    margin-top:60px ;
    font-size:12px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(57,52,52,1);
    line-height:25px;
}
.know2_zi3_four{
    width: 565px;
    height: 269px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 11px 0px rgba(4,0,0,0.09);
    border-radius:3px;
    margin-top: 60px;
    margin-left: 60px;
    float: left;
}
.know2_zi3_four:hover{
    transform:scale(1.05,1.05);
}
.yuan4{
    width: 230px;
    height: 221px;
    background: url(../images/组\ 12-3.png) 0 0/cover;
    margin-top: 24px;
    margin-left: 24px;
    float: left;
}
.yuan4_wenzi2{
    width: 230px;
    height: 182px;
    /* background: antiquewhite; */
    /* float: left; */
    margin-left: 273px;
    margin-top:60px ;
    font-size:12px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(57,52,52,1);
    line-height:25px;
}
/* 内容3 */
.know3{
    width: 1200px;
    height: 906px;
    /* background: #ccc; */
    margin: 0 auto;
    position: relative;
    top: 200vh;
}
.know3_left{
    width: 800px;
    height: 800px;
    float: left;
    /* position: relative; */
    /* background: green; */
}
.know3_left1{
    width: 695px;
    height: 465px;
    background: url(../images/组\ 12\(4\).png) 0 0/cover;
}
.know3_left2{
    width: 681px;
    height: 71px;
    background:url(../images/tuleft.png) 0 0/cover;
    margin-top: 200px;
    margin-left: 21px;
}
.know3_right{
    width: 600px;
    height: 800px;
    /* background: yellowgreen; */
    float: left;
    margin-left: 600px;
    margin-top: 0 auto;
    position: absolute;

}
.know3_right1{
    width: 210px;
    height: 33px;
    background:url(../images/Number\ 3.png) 0 0/cover;
    margin-top: 0 auto;
    float: right;
}
.know3_right2{
    width: 297px;
    height: 34px;
    margin-left: 410px;
    margin-top: 70px;
    font-size:22px;
    font-family:SimSun;
    font-weight:400;
    font-style:italic;
    color:rgba(109,102,102,1);
    line-height:25px;
}
.know3_right3{
    width: 140px;
    height: 20px;
    background: url(../images/形状\ 1\ 拷贝\ 6.png);
    background-size: cover;
    margin-top: 40px;
    margin-left: 460px;

}
.know3_right4{
    width: 460px;
    height: 400px;
    background:url(../images/色阶\ 3.png);
    background-size: cover;
    margin-top: 160px;

}

/* 内容4 */
.know4{
    width: 1200px;
    height: 906px;
    margin: 0 auto;
    position: relative;
    top: 200vh;

}
.know4_1{
    width: 280px;
    height: 43px;
    background: url(../images/Number\ 4.png);
    background-size: cover;
    margin-left: 36px;
}
.know4_2{
    width: 146px;
    height: 37px;
    margin-top: 40px;
    margin-left: 0 auto;
    font-size:22px;
    font-family:SimSun;
    font-weight:400;
    font-style:italic;
    color:rgba(109,102,102,1);
    line-height:25px;
}
.know4_3{
    width: 535px;
    height: 700px;
    background-size: cover;
    margin-top: 40px;
    position: relative;
    float: left;
}
.know4_3-1{
    width: 388px;
    height: 700px;
    background: url(../images/组\ 12\(7\).png);
    background-size:cover ;
    float: left;

}
.know4_3-2{
    width: 292px;
    height: 292px;
    background:rgba(245,241,241,1);
    box-shadow:2px 2px 3px 0px rgba(4,0,0,0.75);
    opacity:0.79;
    position: absolute;
    float: left;
    margin-top: 204px;
    margin-left: 242px;
}
.know4_3-2:hover{
    transform: scale(1.05,1.05);
}
.know4_3-2-zi1{
    width: 98px;
    height: 24px;
    margin: 0 auto;
    margin-top: 18px;
    font-size:24px;
    font-family:FZCuHeiSongS-B-GB;
    font-weight:400;
    color:rgba(59,50,43,1);
    line-height:25px;
}
.know4_3-2-zi2{
    width: 216px;
    height: 134px;
    margin: 0 auto;
    margin-left: auto;
    margin-top: 38px;
    font-size:14px;
    font-family:FZCuHeiSongS-B-GB;
    font-weight:400;
    color:rgba(59,50,43,1);
    line-height:20px;
    opacity:0.8;
}
.know4_4{
    width: 535px;
    height: 700px;
    background-size: cover;
    margin-top: 40px;
    position: relative;
    float: right;
}
.know4_4-1{
    width: 388px;
    height: 700px;
    background: url(../images/组\ 12\(8\).png);
    background-size:cover ;
    float: right;
}
.know4_4-2{
    width: 292px;
    height: 292px;
    background:rgba(245,241,241,1);
    box-shadow:-2px 2px 3px 0px rgba(4,0,0,0.75);
    opacity:0.79;
    position: absolute;
    float: left;
    margin-top: 204px;
    margin-right: 242px;
}
.know4_4-2:hover{
    transform: scale(1.05,1.05);
}
.know4_4-2-zi1{
    width: 98px;
    height: 24px;
    margin: 0 auto;
    margin-top: 18px;
    font-size:24px;
    font-family:FZCuHeiSongS-B-GB;
    font-weight:400;
    color:rgba(59,50,43,1);
    line-height:25px;
}
.know4_4-2-zi2{
    width: 216px;
    height: 134px;
    margin: 0 auto;
    margin-left: auto;
    margin-top: 38px;
    font-size:14px;
    font-family:FZCuHeiSongS-B-GB;
    font-weight:400;
    color:rgba(59,50,43,1);
    line-height:20px;
    opacity:0.8;
}

/* 内容5 */
.know5{
    width: 1200px;
    height: 906px;
    margin: 0 auto;
    /* background: #ccc; */
    margin-top: 160px;
    /* float: left; */
    position: relative;
    top: 200vh;
}
.know5_top{
    height: 180px;
    width:1200px;
}
.know5_top_left{
    width: 360px;
    height: 126px;
    float: left;
}
.know5_top_left_1{
    width: 224px;
    height: 24px;
    /* background: rgb(62, 69, 163); */
    float: right;
    font-size:30px;
    font-family:STXihei;
    font-weight:bold;
    color:rgba(60,106,198,1);
    line-height:25px;
}
.know5_top_left_2{
    width: 176px;
    height: 25px;
    float: left;
    margin-top: 56px;
    font-size:32px;
    font-family:Arial Rounded MT Bold;
    font-weight:bold;
    color:rgba(59,50,43,1);
    line-height:25px;
}
.know5_top_right_1{
    width: 295px;
    height: 46px;
    background:url(../images/Number\ 5.png) 0 0/cover;
    float:right;
    margin-top: 0;
    margin-right: 62px;
}
.know5_top_right_2{
    width: 146px;
    height: 32px;
    float: right;
    margin-top: 0px;
    margin-left: 1000px;
    font-size:32px;
    font-family:SimSun;
    font-weight:400;
    font-style:italic;
    color:rgba(109,102,102,1);
    line-height:25px;
}
.know5_bottom{
    height:472px ;
    width: 1070px;
    margin-top: 70px;
    position: relative;
    margin-left: 65px;

}
.know5_bottom1{
    width: 418px;
    height: 354px;
    background:rgba(247,244,244,1);
    border:1px solid rgba(232, 231, 231, 0.5);
    opacity:0.4;
    border-radius:3px;
    margin-top: 55px;
    float: left;
}
.know5_bottom1:hover{
    background: rgb(145, 142, 142);
}
.bottom_1{
    width:90px;
    height:20px;
    font-size:24px;
    font-family:Arial;
    font-weight:400;
    font-style:italic;
    color:rgba(59,50,43,1);
    line-height:25px;
    opacity:0.8;
    margin-top: 56px;
    margin-left: 34px;
}
.bottom_2{
    width:202px;
    height:14px;
    font-size:14px;
    font-family:SimHei;
    font-weight:400;
    color:rgba(59,50,43,1);
    line-height:25px;
    opacity:0.8;
    margin-top: 33px;
    margin-left: 46px;
    float: left;
}
.bottom_3{
    width: 230px;
    height: 190px;
    background:url(../images/图层\ 13.png) 0 0/cover;
    float: left;
    margin-top: 21px;
    margin-left: 30px;
}
.know5_bottom2{
    width:414px;
    height:472px;
    background:rgba(247,244,244,1);
    border:2px solid rgba(232, 231, 231, 0.4);
    border-radius:3px;
    position: absolute;
    margin-left: 320px;
    z-index: 1;
}
.know5_bottom2:hover{
    background: rgb(145, 143, 143);
}
.bottom_4{
    width:124px;
    height:28px;
    font-size:36px;
    font-family:Arial;
    font-weight:400;
    font-style:italic;
    color:rgba(59,50,43,1);
    line-height:25px;
    margin-top: 50px;
    margin-left: 140px;
}
.bottom_5{
    margin-top: 42px;
    margin-left: 66px;
    width:258px;
    height:18px;
    font-size:18px;
    font-family:SimHei;
    font-weight:400;
    color:rgba(59,50,43,1);
    line-height:25px;
}
.bottom_6{
    width: 370px;
    height: 275px;
    background: url(../images/图层\ 12.png) 0 0/cover;
    margin-top: 32px;
    margin-left: 22px;
    /* margin: 0 auto;
    position: relative;
    top: 200vh; */
}
.know5_bottom3{
    width: 418px;
    height: 354px;
    background:rgba(247,244,244,1);
    border:1px solid rgba(232, 231, 231, 0.5);
    opacity:0.4;
    border-radius:3px;
    margin-top: 55px;
    float: right;
}
.know5_bottom3:hover{
    background: rgb(145, 143, 143);
}
.bottom_7{
    width:90px;
    height:20px;
    font-size:24px;
    font-family:Arial;
    font-weight:400;
    font-style:italic;
    color:rgba(59,50,43,1);
    line-height:25px;
    opacity:0.8;
    margin-top: 56px;
    margin-right: 80px;
    float:right;
}
.bottom_8{
    width:202px;
    height:14px;
    font-size:14px;
    font-family:SimHei;
    font-weight:400;
    color:rgba(59,50,43,1);
    line-height:25px;
    opacity:0.8;
    margin-top: 40px;
    float: left;
    margin-left: 165px;
   
}
.bottom_9{
    width: 230px;
    height: 190px;
    background:url(../images/图层\ 14.png) 0 0/cover;
    float: right;
    margin-top: 21px;
    margin-right: 50px;
}
.know5_bottom_bottom{
    width:334px;
    height:36px;
    font-size:36px;
    font-family:STXihei;
    font-weight:bold;
    color:rgba(59,50,43,0.48);
    line-height:25px;
    opacity:0.31;
    margin-top: 56px;
}
.know6{
    width: 1200px;
    height: 906px;
    margin: 0 auto;
    margin-top: 160px;
    /* float: left; */
    position: relative;
    top: 200vh;
}
.know6_top{
    height: 160px;
    width: 1200px;

}
.know6_top_left{
    width: 313px;
    height: 104px;
    float: left;
   
}
.know6_top_left1{
    width: 280px;
    height: 44px;
    background:url(../images/Number\ 6.png) 0 0/cover;
    margin-left: 32px;
    
}
.know6_top_left2{
    width: 144px;
    height: 32px;
    margin-top: 28px;
    font-size:36px;
    font-family:SimSun;
    font-weight:400;
    font-style:italic;
    color:rgba(109,102,102,1);
    line-height:25px;
    float: left;
}
.know6_top_right{
    width: 358px;
    height: 164px;
    background: url(../images/ABOUT\ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ US.png) 0 0/cover;
    float: right;
}
.know6_bottom{
    height: 444px;
    width: 1200px;
    margin-top: 38px;
}
.know6_bottom_left{
    width: 700px;
    height: 424px;
    background: url(../images/组\ 12\(9\).png) 0 0/cover;
    margin-top: 40px;
    margin-left: 10px;
    float: left;
}
.konw6_right1{
    width:100px;
    height:24px;
    font-size:24px;
    font-family:SimSun;
    font-weight:bold;
    color:rgba(48,78,138,1);
    line-height:25px;
    margin-top: 37px;
    margin-left: 128px;
    float: left;
}
.konw6_right2{
    height: 25px;
    width: 250px;
    margin-top: 23px;
    margin-left: 60px;
    /* margin: 0 auto; */
    float: left;
}
.konw6_right2-1{
    width: 26px;
    height: 18px;
    background: url(../images/信.png) 0 0/cover;
    float: left;
    margin-top: 4px;
}
.konw6_right2-2{
    height: 20px;
    width: 214px;
    float: left;
    margin-left: 2px;
    font-size:24px;
    font-family:SimSun;
    font-weight:400;
    color:rgba(48,78,138,1);
    line-height:25px;
}
.konw6_right3{
    width: 200px;
    height: 25px;
    float: left;
    margin-top: 18px;
    margin-left: 88px;

}
.konw6_right3-1{
    width: 21px;
    height: 22px;
    float: left;
    margin-top: 4px;
    background: url(../images/电话.png) 0 0/cover;
}
.konw6_right3-2{
    width:152px;
    height:18px;
    font-size:24px;
    font-family:SimSun;
    font-weight:400;
    color:rgba(48,78,138,1);
    line-height:25px;
    float: left;
    margin-left: 6px;
}
.konw6_right4{
    width:200px;
    height:28px;
    font-size:30px;
    font-family:SimSun;
    font-weight:bold;
    color:rgba(48,78,138,1);
    line-height:25px;
    float: left;
    margin-top: 36px;
    margin-left: 134px;
}
.konw6_right5{
    width: 306px;
    height: 226px;
    background: url(../images/组\ 12@2x\(5\).png);
    margin-top: 18px;
    margin-left: 60px;
    float: left;
}
.end{
    width: 100vw;
    height: 300px;
    background: url(../images/组\ 12\(10\).png) 0 0/cover;
    /* margin-top: 1000px; */
    margin: 0 auto;
    /* float: left; */
    position: relative;
    top: 200vh;
}
.end_1{
    width: 442px;
    height: 92px;
    margin-top: 92px;
    margin-left: 100px;
    float: left;

}
.end_1-1{
    width:442px;
    height:22px;
    font-size:24px;
    font-family:SimHei;
    font-weight:400;
    color:rgba(250,251,252,1);
    line-height:25px;
}
.end_1-2{
    width:128px;
    height:18px;
    font-size:18px;
    font-family:SimHei;
    font-weight:400;
    color:rgba(250,251,252,1);
    line-height:25px;
    margin-top: 50px;
}
.end_2{
    width:226px;
    height:164px;
    font-size:18px;
    font-family:SimHei;
    font-weight:400;
    color:rgba(247,248,251,1);
    line-height:50px;
    margin-top: 72px;
    margin-left: 250px;
    float: left;
}
.end_3{
    width: 224px;
    height: 165px;
    float: left;
    margin-top: 72px;
    margin-left: 250px;
    font-size:18px;
    font-family:SimHei;
    font-weight:400;
    color:rgba(247,248,251,1);
    line-height:50px;
}
.end_4{
    width:308px;
    height:10px;
    font-size:5px;
    font-family:SimSun;
    font-weight:400;
    color:rgba(250,251,252,1);
    line-height:25px;
    float: left;
    /* margin: 0 auto; */
    margin-top: 40px;
    margin-left: 600px;
}